name: integrahub
services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: integrahub-rabbitmq
    ports:
      - "${RABBITMQ_PORT:-5672}:5672"
      - "${RABBITMQ_UI_PORT:-15672}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-integrahub}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-change_me}
      RABBITMQ_LOAD_DEFINITIONS: /etc/rabbitmq/definitions.json
    volumes:
      - ./infra/rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro
  message-router:
    build:
      context: ./services/message-router
    container_name: integrahub-message-router
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: ${RABBITMQ_DEFAULT_USER:-integrahub}
      RABBITMQ_PASS: ${RABBITMQ_DEFAULT_PASS:-change_me}
      RABBITMQ_VHOST: /
      RAW_EXCHANGE: integrahub.events.raw
      EVENTS_EXCHANGE: integrahub.events
      COMMANDS_EXCHANGE: integrahub.commands
      DLX_EXCHANGE: integrahub.dlx
      RAW_QUEUE: q.events.raw
      MAX_RETRIES: 3
      IDEMPOTENCY_TTL_MS: 86400000

